#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

.header {
    display: flex; /* Using Flexbox */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media only screen and (max-width: 420px) {
    .header {
        flex-direction: column; /* Adjust layout for smaller screens */
    }
}

body {
    margin-top: 60px; /* Prevent content from being hidden behind the fixed nav-bar */
}
